In [10]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LogisticRegression
train_data=pd.read_csv(r'C:\Users\Hp\Downloads\train_file.csv')
test_data=pd.read_csv(r'C:\Users\Hp\Downloads\test_file.csv')

In [11]:
train_data.head()

,ID,UsageClass,CheckoutType,CheckoutYear,CheckoutMonth,Checkouts,Title,Creator,Subjects,Publisher,PublicationYear,MaterialType
0,1,Physical,Horizon,2005,4,1,Tidal wave,NaN,"Tsunamis, Tsunamis Juvenile literature",NaN,NaN,BOOK
1,2,Physical,Horizon,2005,4,1,London holiday / Richard Peck.,"Peck, Richard, 1934-",NaN,"Viking,",1998.,BOOK
2,3,Physical,Horizon,2005,4,3,Cinco de Mayo : celebrating Hispanic pride / C...,"Gnojewski, Carol",Cinco de Mayo Mexican holiday History Juvenile...,"Enslow Publishers,",c2002.,BOOK
3,4,Physical,Horizon,2005,4,1,Annapolis,NaN,"War stories, Historical fiction, Domestic fict...",NaN,NaN,BOOK
4,5,Physical,Horizon,2005,4,1,As a man thinketh,NaN,Thought and thinking,NaN,NaN,BOOK

In [12]:
train_data.dropna(subset=['Subjects'], how='all', inplace=True, axis=0)
train_data.head(10)

,ID,UsageClass,CheckoutType,CheckoutYear,CheckoutMonth,Checkouts,Title,Creator,Subjects,Publisher,PublicationYear,MaterialType
0,1,Physical,Horizon,2005,4,1,Tidal wave,NaN,"Tsunamis, Tsunamis Juvenile literature",NaN,NaN,BOOK
2,3,Physical,Horizon,2005,4,3,Cinco de Mayo : celebrating Hispanic pride / C...,"Gnojewski, Carol",Cinco de Mayo Mexican holiday History Juvenile...,"Enslow Publishers,",c2002.,BOOK
3,4,Physical,Horizon,2005,4,1,Annapolis,NaN,"War stories, Historical fiction, Domestic fict...",NaN,NaN,BOOK
4,5,Physical,Horizon,2005,4,1,As a man thinketh,NaN,Thought and thinking,NaN,NaN,BOOK
5,6,Physical,Horizon,2005,4,4,Minnie and Moo go dancing / [written and illus...,"Cazet, Denys","Cows Juvenile fiction, Parties Fiction, Farm l...","DK Pub.,",c1998.,BOOK
6,7,Physical,Horizon,2005,4,1,cat who robbed a bank,NaN,"Mystery fiction, Qwilleran Jim Fictitious char...",NaN,NaN,BOOK
7,8,Physical,Horizon,2005,4,1,Irwin guide to using the Wall Street journal,NaN,"Wall Street journal, Investments United States...",NaN,NaN,BOOK
8,9,Physical,Horizon,2005,4,4,Oracle night,NaN,Novelists American New York State New York Fic...,NaN,NaN,BOOK
9,10,Physical,Horizon,2005,4,1,12 haunted episodes,NaN,Rock music 1991 2000,NaN,NaN,SOUNDDISC
10,11,Physical,Horizon,2005,4,1,"The Roman army, 31 BC-AD 337 : a sourcebook / ...","Campbell, J. B.",Rome Italy Army,"Routledge,",1994.,BOOK

In [13]:
Y=train_data['MaterialType']
X=train_data['Subjects']
#Y.head()
#X.head()

In [84]:
from sklearn.preprocessing import LabelBinarizer
encoder = LabelBinarizer()
transfomed_label = encoder.fit_transform(Y)
print(transfomed_label)
#Y.value_count()

[[1 0 0 ... 0 0 0]
 [1 0 0 ... 0 0 0]
 [1 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 1 0]
 [0 0 0 ... 0 0 1]
 [1 0 0 ... 0 0 0]]

In [48]:
#X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=.2, random_state=1)

In [85]:
combi=X.append(test_data['Subjects'], ignore_index=True)

In [86]:
combi['tidy'] = np.vectorize(X)

In [89]:
combi['tidy'] = combi['tidy'].str.replace("[^a-zA-Z#]", " ")

In [90]:
combi['tidy'].head()

0               Tsunamis  Tsunamis Juvenile literature
1    Cinco de Mayo Mexican holiday History Juvenile...
2    War stories  Historical fiction  Domestic fict...
3                                 Thought and thinking
4    Cows Juvenile fiction  Parties Fiction  Farm l...
Name: Subjects, dtype: object

In [91]:
combi['tidy'] = combi['tidy'].apply(lambda x: ' '.join([w for w in str(x).split() if len(w)>3]))

In [92]:
combi['tidy'].head()

0                Tsunamis Tsunamis Juvenile literature
1    Cinco Mayo Mexican holiday History Juvenile li...
2    stories Historical fiction Domestic fiction st...
3                                     Thought thinking
4    Cows Juvenile fiction Parties Fiction Farm lif...
Name: Subjects, dtype: object

In [93]:
tokenized_tweet = combi['tidy'].apply(lambda x: str(x).split())
tokenized_tweet.head()

0           [Tsunamis, Tsunamis, Juvenile, literature]
1    [Cinco, Mayo, Mexican, holiday, History, Juven...
2    [stories, Historical, fiction, Domestic, ficti...
3                                  [Thought, thinking]
4    [Cows, Juvenile, fiction, Parties, Fiction, Fa...
Name: Subjects, dtype: object

In [94]:
from sklearn.feature_extraction.text import CountVectorizer
bow_vectorizer = CountVectorizer(max_df=0.90, min_df=2, max_features=1000, stop_words='english')
# bag-of-words feature matrix
bow = bow_vectorizer.fit_transform(combi['tidy'])


from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
train_bow = bow[:29890,:]
test_bow = bow[29890:,:]

In [95]:
xtrain_bow, xvalid_bow, ytrain, yvalid = train_test_split(train_bow, Y, random_state=42, test_size=0.2)

In [108]:
lreg = LogisticRegression()
lreg.fit(xtrain_bow, ytrain)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [133]:
prediction = lreg.predict_proba(xvalid_bow) # predicting on the validation set
prediction_int = prediction[:,1] >= 0.3 # if prediction is greater than or equal to 0.3 than 1 else 0
prediction_int = prediction_int.astype(np.int)
#prediction = np.argmax(prediction, axis=1)
encoder.inverse_transform(prediction)
lreg.score(xvalid_bow, yvalid)

0.8721980595516895

In [134]:
test_pred=lreg.predict_proba(test_bow)

In [168]:
test_pred == test_pred.max(axis=1)[:,None].astype(np.int)
enp=encoder.inverse_transform(test_pred)
enp=enp[:len(enp)-1]
test_data['MaterialType'] = enp
#print(len(enp));print(len(test_data))
subm = test_data[['ID','MaterialType']]
#print(len(submission.index))  
#print(len(submission))
subm.to_csv('sub_lreg.csv', index=False) # writing data to a CSV file

In [135]:
print(test_pred)

[[7.80371535e-01 8.48488644e-05 1.59815245e-04 ... 1.02528753e-02
  8.70783733e-02 1.74440238e-02]
 [5.14391133e-04 1.48493888e-03 1.31111794e-03 ... 1.26532347e-04
  9.27129530e-01 6.85819771e-02]
 [8.45944132e-02 2.30291104e-03 1.84227595e-03 ... 8.28310859e-01
  4.03670990e-02 1.75849421e-02]
 ...
 [2.07749784e-05 5.51264186e-04 1.11722677e-03 ... 2.39160661e-05
  8.27056920e-01 1.70749762e-01]
 [1.36930425e-03 3.01037117e-04 8.42097194e-04 ... 9.42066109e-01
  2.31094186e-02 1.59041150e-02]
 [7.83454631e-01 8.00731939e-03 1.54632273e-03 ... 4.72535494e-02
  1.11251198e-01 1.70737403e-02]]

In [147]:
print(test_pred.shape)

(21103, 8)